*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/kanyeBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;

    color: white;
    background-color: #000;
    color: #fff;
    opacity: .5;
}