*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orange;
    max-width: 100%;
    padding: 30px 30px;
    
}

.recent__news{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 30px;
    justify-content: center;
    width: 1300px;
    margin: 50px auto;
}

.news__card{
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.news__img{
    width: 150px;
    background-color: grey;
    height: 150px;
}

.news__info{
    margin: 10px;
}

.news__card button{
    padding: 8px 40px;
    background-color: orange;
    border: none;
    border-radius: 5px;
}

.news__card button a{
    text-decoration: none;
    color: black;
}