*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px
}

header a:hover {
    color: rgb(255, 0, 0);
    transition: 0.5s ease-in-out;
}