* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.container {
  background-color: white;
  max-width: 1631px;
  height: 814px;
  padding: 79px;

  display: flex;
  gap: 177px;
}

.left__side {
  max-width: 624px;
}

.big__foto {
  width: 624px;
  height: 516px;
}

.small__foto {
  width: 125px;
  margin-top: 50px;
}

.small__cars {
  display: flex;
  justify-content: space-between;
}



h2{
   font-size: 32px;
   margin-bottom: 55px;
}

.additional__service, .price{
   font-size: 22px;
   margin-bottom: 38px;
}

.desc{
   font-size: 18px;
   margin-bottom: 35px;
}

.price{
   margin-bottom: 74px;
}

.additional {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 25px;
   max-width: 270px;
   margin: 50px 50px;

   font-size: 18px;
}

.add__item{
   position: relative;
}

.add__item::before {    
   content: '';
   position: absolute;    
   width: 15px;
   height: 15px;    
   border-radius: 50%;
   background: rgba(217, 217, 217, 1);   
   max-width: 270px;
   left: -40%;    
   top: 10%;
}

button{
   font-size: 22px;
   border: 1px solid black;
   padding: 24px 40px;
   background: none;
}