*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.empty_items{
   display: flex;
   align-items: center;
   margin: 82px auto;
   max-width: 1000px;
}

.item{
   max-width: 250px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   font-size: 12px;
   margin: 0 auto;
}

.empty{
   width: 249px;
   height: 383px;
   background: rgba(217, 217, 217, 1);
}

.end__desc{
   
   font-size: 12px;
   max-width: 250px;
   margin: 30px auto;
}