@mixin dotStyle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@mixin arrowStyle {
  width: 60px;
  height: 60px;
}

@mixin aditionalHeader {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  color: rgba(189, 189, 189, 1);
}

@mixin sectionHeader {
  font-family: "Merriweather";
  color: rgba(51, 51, 51, 1);
  font-size: 48px;
  font-weight: 900;
}

$primaryColor: rgba(255, 255, 255, 1);
$accentColor: rgba(0, 95, 163, 1);
$seccondBackground: rgba(235, 235, 235, 1);
$sectionHeaderColor: rgba(189, 189, 189, 1);
$textColor: rgba(34, 34, 34, 1);
$mainFont: "Merriweather", serif;
$additionalFont: "Lato", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;

  .header__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1190px;
    @media (max-width: 1200px) {
      margin: 0 81px;
    }
    @media (max-width: 766px) {
      padding: 19px 0;
    }

    &-left {
      display: flex;
      gap: 23px;

      .grey__box {
        background: rgba(217, 217, 217, 1);
        width: 51px;
        height: 118px;
      }
      @media (max-width: 766px) {
        .grey__box {
          display: none;
        }
      }
      .logo__container {
        display: flex;
        align-items: center;
        gap: 30px;

        h1 {
          color: $accentColor;
          font-family: $mainFont;
          font-weight: 900;
          font-size: 36px;
        }
      }
    }
    &-right {
      ul {
        display: flex;
        gap: 68px;
        list-style: none;
        font-size: 14px;
        color: $textColor;
        font-family: $additionalFont;
        li {
          cursor: pointer;
        }
      }
      @media (max-width: 1020px) {
        display: none;
      }
    }
    // функционал бургер меню нашла в интернете, 
    // вместо того чтобы вставить просто картинку как на фигме
    .menu {
      font-family: $additionalFont;
      visibility: hidden;
      position: absolute;
      @media (max-width: 1020px) {
        visibility: visible;
        position: static;
      }
      .burger-checkbox {
        position: absolute;
        visibility: hidden;
      }

      .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 50px;
        height: 26px;

        &::before,
        &::after {
          content: "";
          left: 0;
          position: absolute;
          display: block;
          width: 100%;
          height: 4px;
          border-radius: 10px;
          background: #000;
        }

        &::before {
          top: 0;
          box-shadow: 0 11px 0 #000;
          transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
        }

        &::after {
          bottom: 0;
          transition: bottom 0.3s 0.15s, transform 0.3s;
        }
      }

      .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
        transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
      }

      .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom 0.3s, transform 0.3s 0.15s;
      }

      .menu-list {
        top: 118px;
        right: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: $seccondBackground;
        list-style-type: none;
        visibility: hidden;
        transition: 0.3s;
        width: 200px;

        .menu-item {
          display: block;
          padding: 8px;
          color: rgb(0, 0, 0);
          font-size: 18px;
          text-align: center;
          text-decoration: none;
        }
      }

      .burger-checkbox:checked ~ .menu-list {
        visibility: visible;
      }
    }
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    margin: 0 81px;
  }
}

.btn {
  background-color: $accentColor;
  border: none;
  padding: 19px 40px;
  color: $primaryColor;
  font-family: $additionalFont;
  font-weight: 400;
  font-size: 18px;
}

main {
  .accounting__services {
    background-image: url(../img/cityPicture.png);
    background-repeat: no-repeat;
    padding: 170px 0 104px;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 80px;
      margin-bottom: 70px;
      @media (max-width: 766px) {
        gap: 22px;
      }
      h2 {
        max-width: 589px;
        font-size: 48px;
        font-family: $mainFont;
        font-weight: 700;
        color: $primaryColor;
        @media (max-width: 766px) {
          text-align: center;
          max-width: 592px;
        }
      }
    }

    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: end;

      .dot__container {
        display: flex;
        gap: 40px;

        .dot {
          @include dotStyle();
          background-color: rgba(255, 255, 255, 0.4);

          &:nth-child(3) {
            background-color: $primaryColor;
          }
        }
      }

      .arrow__container {
        display: flex;

        .arrow__left {
          @include arrowStyle();
          background-color: rgba(255, 255, 255, 0.2);
          img {
            display: block;
            margin: 22px auto;
          }
        }

        .arrow__right {
          @include arrowStyle();
          background-color: rgba(255, 255, 255, 0.4);
          img {
            display: block;
            margin: 22px auto;
          }
        }
      }
    }
  }

  .specialize {
    background-color: $seccondBackground;
    padding: 140px 0;
    @media (max-width: 1180px) {
      display: flex;
      justify-content: center;
    }

    h4 {
      @include aditionalHeader();
    }

    h2 {
      @include sectionHeader();
      margin: 40px 0 102px;
      @media (max-width: 766px) {
        margin: 17px 0 120px;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(3, 350px);
      gap: 30px;

      .item {
        background: url(../img/ServiceItem.png);
        background-repeat: no-repeat;
        width: 350px;
        height: 360px;
        padding: 261px 45px 45px;
        position: relative;

        h3 {
          color: $primaryColor;
          width: 187px;
          font-family: $additionalFont;
          font-weight: 900;
          font-size: 24px;
          z-index: 1;
          position: relative;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 95, 163, 0.65);
          opacity: 0;
          transition: 0.3s ease;
          z-index: 0;
        }

        &:hover::before {
          opacity: 1;
        }

        @media (max-width: 766px) {
          background: url(../img/itemMedia.png);
          width: 592px;
        }
      }
    }
    @media (max-width: 1200px) {
      .specialize__items {
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
      }
    }
    @media (max-width: 766px) {
      .specialize__items {
        grid-template-columns: 592px;
      }
    }
  }

  .about {
    padding: 104px 0;

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 1180px) {
        justify-content: center;
        gap: 40px;
      }
    }
    &__info {
      h4 {
        @include aditionalHeader();
      }
      h2 {
        @include sectionHeader();
        margin: 40px 0 60px;
        width: 347px;
        span {
          color: $accentColor;
        }
      }
      p {
        max-width: 445px;
        font-family: $additionalFont;
        font-weight: 300;
        font-size: 18px;
        @media (max-width: 1180px) {
          max-width: 540px;
        }
      }
    }

    &__statistics {
      display: grid;
      grid-template-columns: repeat(2, 255px);
      gap: 30px;
      @media (max-width: 766px) {
        grid-template-columns: 562px;
        gap: 15px;
      }

      &-item {
        background-color: $seccondBackground;
        width: 255px;
        height: 255px;
        padding: 30px 40px 40px;
        @media (max-width: 766px) {
          width: 562px;
          height: 120px;
          display: flex;
          gap: 42.58px;
          align-items: center;
          justify-content: center;
        }
        .number {
          font-family: $additionalFont;
          font-weight: 900;
          font-size: 55px;
        }

        .description {
          font-weight: 700;
          font-size: 14px;
          width: 107px;
          margin: 30px 0 47px;
          @media (max-width: 766px) {
            margin: 0;
          }
        }

        a {
          font-family: $additionalFont;
          color: $accentColor;
          font-size: 14px;
        }

        &:nth-child(4) {
          color: $primaryColor;
          background-color: $accentColor;

          a {
            color: $primaryColor;
          }
        }
      }
    }
  }

  .partners {
    background-color: $seccondBackground;
    padding: 100px 0;
    .container {
      @media (max-width: 1180px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      h4 {
        @include aditionalHeader();
      }
      h2 {
        @include sectionHeader();
        margin: 40px 0 80px;
      }
    }
    &__example {
      display: flex;
      gap: 30px;
      margin-bottom: 50px;
      flex-wrap: wrap;
      @media (max-width: 1180px) {
        justify-content: center;
      }
      @media (max-width: 766px) {
        margin-bottom: 32px;
        img {
          width: 481px;
        }
        img:nth-child(2),
        img:nth-child(3),
        img:nth-child(4) {
          display: none;
        }
      }
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: end;

      .dot__container {
        display: flex;
        gap: 40px;

        .dot {
          @include dotStyle();
          background: rgba(0, 95, 163, 0.4);

          &:nth-child(3) {
            background-color: $accentColor;
          }
        }
      }

      .arrow__container {
        display: flex;

        .arrow__left {
          @include arrowStyle();
          background: rgba(0, 95, 163, 0.2);
          img {
            display: block;
            margin: 22px auto;
          }
        }

        .arrow__right {
          @include arrowStyle();
          background-color: $accentColor;
          img {
            display: block;
            margin: 22px auto;
          }
        }
      }
    }
  }

  .reviews {
    padding: 140px 0 140px;
    .container {
      h4 {
        @include aditionalHeader();
      }
      h2 {
        @include sectionHeader();
        margin: 40px 0 80px;
      }
    }
    &__example {
      background-color: $seccondBackground;
      padding: 45px 95px;
      margin-bottom: 50px;
      @media (max-width: 766px) {
        padding: 47px 69px;
      }
      &-text {
        font-family: $additionalFont;
        font-size: 18px;
        margin-bottom: 58px;
        @media (max-width: 766px) {
          margin: 0;
        }
      }
      &-person {
        display: flex;
        align-items: center;
        gap: 35px;
        @media (max-width: 766px) {
          display: none;
        }

        .name {
          .fullname {
            font-family: $additionalFont;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
          }

          .position {
            font-family: $additionalFont;
            font-size: 14px;
          }
        }
      }
    }
    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: end;

      .dot__container {
        display: flex;
        gap: 40px;

        .dot {
          @include dotStyle();
          background: rgba(0, 95, 163, 0.4);

          &:nth-child(3) {
            background-color: $accentColor;
          }
        }
      }

      .arrow__container {
        display: flex;

        .arrow__left {
          @include arrowStyle();
          background: rgba(0, 95, 163, 0.2);
          img {
            display: block;
            margin: 22px auto;
          }
        }

        .arrow__right {
          @include arrowStyle();
          background-color: $accentColor;
          img {
            display: block;
            margin: 22px auto;
          }
        }
      }
    }
  }

  .contacts {
    background-image: url(../img/cityPicture.png);
    background-repeat: no-repeat;
    padding: 122px 0 140px;
    @media (max-width: 1180px) {
      padding: 19px 0 10px;
    }
    @media (max-width: 766px) {
      background-image: url(../img/cityBackgrondContact.png);
      padding: 29px 0 135px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1180px) {
        gap: 40px;
        justify-content: center;
      }
      @media (max-width: 766px) {
        gap: 160px;
      }
    }
    &__left {
      h2 {
        @include sectionHeader();
        color: $primaryColor;
      }

      .contact__comment {
        font-family: $additionalFont;
        font-size: 18px;
        max-width: 445px;
        color: $primaryColor;
        margin: 60px 0 79px;
        opacity: 70%;
        @media (max-width: 1180px) {
          margin: 44px 0 33px;
        }
        @media (max-width: 766px) {
          max-width: 595px;
        }
      }

      &-icons {
        display: flex;
        justify-content: space-between;
        gap: 53px;

        .contact__phone,
        .contact__email {
          display: flex;
          align-items: center;
          color: $primaryColor;
          gap: 15.58px;

          font-family: $additionalFont;
          font-weight: 300;
          font-size: 21px;
          p {
            opacity: 70%;
          }
        }
      }
    }
    &__right {
      .contact__form {
        max-width: 540px;
        @media (max-width: 766px) {
          max-width: 595px;
        }
        .username__form {
          display: flex;
          justify-content: space-between;

          &-name,
          &-surname {
            display: flex;
            flex-direction: column;
            grid-area: 10px;
            label {
              font-family: $additionalFont;
              color: $primaryColor;
              font-size: 16px;
            }
            input {
              background: none;
              border: none;
              border-bottom: 1px solid $primaryColor;
              padding: 5px 0 15px;
              width: 255px;
              color: $sectionHeaderColor;
              font-size: 21px;
              font-family: $additionalFont;
            }
          }
        }
        .message__form {
          display: flex;
          flex-direction: column;
          gap: 10px;
          label {
            font-family: $additionalFont;
            color: $primaryColor;
            font-size: 16px;
            margin-top: 35px;
          }
          textarea {
            background: none;
            border: none;
            border-bottom: 1px solid $primaryColor;
            padding: 5px 0 15px;
            width: 540px;
            color: $sectionHeaderColor;
            font-size: 21px;
            font-family: $additionalFont;
            @media (max-width: 766px) {
              width: 578px;
            }
          }
        }
        .btn {
          margin-top: 50px;
          margin-left: 270px;
        }
      }
    }
  }
}
footer {
  width: 100%;
  background-color: $primaryColor;
  padding: 50px 0 40px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $additionalFont;
    font-size: 14px;
  }
}
