* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}
header .header__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1190px;
}
header .header__container-left {
  display: flex;
  gap: 23px;
}
header .header__container-left .grey__box {
  background: rgb(217, 217, 217);
  width: 51px;
  height: 118px;
}
header .header__container-left .logo__container {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .header__container-left .logo__container h1 {
  color: rgb(0, 95, 163);
  font-family: "Merriweather";
  font-weight: 900;
  font-size: 36px;
}
header .header__container-right ul {
  display: flex;
  gap: 68px;
  list-style: none;
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-family: "Lato";
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.btn {
  background-color: rgb(0, 95, 163);
  border: none;
  padding: 19px 44px;
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
}

main .accounting__services {
  background-image: url(../img/cityPicture.png);
  background-repeat: no-repeat;
  padding: 170px 0 104px;
}
main .accounting__services-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 80px;
  margin-bottom: 70px;
}
main .accounting__services-header h2 {
  width: 589px;
  font-size: 48px;
  font-family: "Merriweather";
  font-weight: 700;
  color: rgb(255, 255, 255);
}
main .accounting__services-nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
main .accounting__services-nav .dot__container {
  display: flex;
  gap: 40px;
}
main .accounting__services-nav .dot__container .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}
main .accounting__services-nav .dot__container .dot:nth-child(3) {
  background-color: rgb(255, 255, 255);
}
main .accounting__services-nav .arrow__container {
  display: flex;
}
main .accounting__services-nav .arrow__container .arrow__left {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
}
main .accounting__services-nav .arrow__container .arrow__left img {
  display: block;
  margin: 22px auto;
}
main .accounting__services-nav .arrow__container .arrow__right {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
}
main .accounting__services-nav .arrow__container .arrow__right img {
  display: block;
  margin: 22px auto;
}
main .specialize {
  background-color: rgb(235, 235, 235);
  padding: 140px 0;
}
main .specialize h4 {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  color: rgb(189, 189, 189);
}
main .specialize h2 {
  font-family: "Merriweather";
  color: rgb(51, 51, 51);
  font-size: 48px;
  font-weight: 900;
  margin: 40px 0 102px;
}
main .specialize__items {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 30px;
}
main .specialize__items .item {
  background: url(../img/ServiceItem.png);
  background-repeat: no-repeat;
  width: 350px;
  height: 360px;
  padding: 261px 45px 45px;
  position: relative;
}
main .specialize__items .item h3 {
  color: rgb(255, 255, 255);
  width: 187px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 24px;
  z-index: 1;
  position: relative;
}
main .specialize__items .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 95, 163, 0.65);
  opacity: 0;
  transition: 0.3s ease;
  z-index: 0;
}
main .specialize__items .item:hover::before {
  opacity: 1;
}
main .about {
  padding: 104px 0;
}
main .about .container {
  display: flex;
  justify-content: space-between;
}
main .about__info h4 {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  color: rgb(189, 189, 189);
}
main .about__info h2 {
  font-family: "Merriweather";
  color: rgb(51, 51, 51);
  font-size: 48px;
  font-weight: 900;
  margin: 40px 0 60px;
  width: 347px;
}
main .about__info h2 span {
  color: rgb(0, 95, 163);
}
main .about__info p {
  width: 445px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
}
main .about__statistics {
  display: grid;
  grid-template-columns: repeat(2, 255px);
  gap: 30px;
}
main .about__statistics-item {
  background-color: rgb(235, 235, 235);
  width: 255px;
  height: 255px;
  padding: 30px 40px 40px;
}
main .about__statistics-item .number {
  font-family: "Lato";
  font-weight: 900;
  font-size: 55px;
}
main .about__statistics-item .description {
  font-weight: 700;
  font-size: 14px;
  width: 107px;
  margin: 30px 0 47px;
}
main .about__statistics-item a {
  font-family: "Lato";
  color: rgb(0, 95, 163);
  font-size: 14px;
}
main .about__statistics-item:nth-child(4) {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 95, 163);
}
main .about__statistics-item:nth-child(4) a {
  color: rgb(255, 255, 255);
}
main .partners {
  background-color: rgb(235, 235, 235);
  padding: 100px 0;
}
main .partners .container h4 {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  color: rgb(189, 189, 189);
}
main .partners .container h2 {
  font-family: "Merriweather";
  color: rgb(51, 51, 51);
  font-size: 48px;
  font-weight: 900;
  margin: 40px 0 80px;
}
main .partners__example {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
main .partners__nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
main .partners__nav .dot__container {
  display: flex;
  gap: 40px;
}
main .partners__nav .dot__container .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 95, 163, 0.4);
}
main .partners__nav .dot__container .dot:nth-child(3) {
  background-color: rgb(0, 95, 163);
}
main .partners__nav .arrow__container {
  display: flex;
}
main .partners__nav .arrow__container .arrow__left {
  width: 60px;
  height: 60px;
  background: rgba(0, 95, 163, 0.2);
}
main .partners__nav .arrow__container .arrow__left img {
  display: block;
  margin: 22px auto;
}
main .partners__nav .arrow__container .arrow__right {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 95, 163);
}
main .partners__nav .arrow__container .arrow__right img {
  display: block;
  margin: 22px auto;
}
main .reviews {
  padding: 140px 0 140px;
}
main .reviews .container h4 {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  color: rgb(189, 189, 189);
}
main .reviews .container h2 {
  font-family: "Merriweather";
  color: rgb(51, 51, 51);
  font-size: 48px;
  font-weight: 900;
  margin: 40px 0 80px;
}
main .reviews__example {
  background-color: rgb(235, 235, 235);
  padding: 45px 95px;
  margin-bottom: 50px;
}
main .reviews__example-text {
  font-family: "Lato";
  font-size: 18px;
  margin-bottom: 58px;
}
main .reviews__example-person {
  display: flex;
  align-items: center;
  gap: 35px;
}
main .reviews__example-person .name .fullname {
  font-family: "Lato";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
main .reviews__example-person .name .position {
  font-family: "Lato";
  font-size: 14px;
}
main .reviews__nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
main .reviews__nav .dot__container {
  display: flex;
  gap: 40px;
}
main .reviews__nav .dot__container .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 95, 163, 0.4);
}
main .reviews__nav .dot__container .dot:nth-child(3) {
  background-color: rgb(0, 95, 163);
}
main .reviews__nav .arrow__container {
  display: flex;
}
main .reviews__nav .arrow__container .arrow__left {
  width: 60px;
  height: 60px;
  background: rgba(0, 95, 163, 0.2);
}
main .reviews__nav .arrow__container .arrow__left img {
  display: block;
  margin: 22px auto;
}
main .reviews__nav .arrow__container .arrow__right {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 95, 163);
}
main .reviews__nav .arrow__container .arrow__right img {
  display: block;
  margin: 22px auto;
}

/*# sourceMappingURL=style.css.map */
